# Cookbook 2: Validate data during ingestion (take action on failures)

This cookbook showcases a sample GX data validation workflow characteristic of data ingestion at the start of the data pipeline. Data is loaded into a Pandas DataFrame, cleaned, validated, invalid data is identified and removed, and then valid data is ingested into a Postgres database table.

This cookbook explores the validation workflow first in a notebook setting, then embedded within an Airflow pipeline. Airflow pipelines are also referred to as directed acyclic graphs, or DAGs.

This cookbook features a scenario in which a subset of data fails validation and must be handled in the pipeline.

This cookbook builds on [Cookbook 1: Validate data during ingestion (happy path)](Cookbook_1_Validate_data_during_ingestion_happy_path.ipynb) and focuses on how data validation failures can be programmatically handled in the pipeline based on GX Validation Results. This cookbook assumes basic familiarity with GX Core workflows; for a step-by-step explanation of the GX data validation workflow, refer to [Cookbook 1](Cookbook_1_Validate_data_during_ingestion_happy_path.ipynb).

## Imports

This tutorial features the `great_expectations` library.

The `tutorial_code` module contains helper functions used within this notebook and the associated Airflow pipeline.

The `airflow_dags` submodule is included so that you can inspect the code used in the related Airflow DAG directly from this notebook.

In [1]:
import pathlib
import inspect
import time

import great_expectations as gx
import great_expectations.expectations as gxe
import pandas as pd

import tutorial_code as tutorial
import airflow_dags.cookbook2_validate_and_handle_invalid_data as dag

## Load raw data

In this tutorial, you will clean and validate a dataset containing synthesized product data. The data is loaded from a CSV file into a Pandas DataFrame.

In [2]:
DATA_DIR = pathlib.Path("/cookbooks/data/raw")

df_products_raw = pd.read_csv(DATA_DIR / "products.csv", encoding="unicode_escape")

In [3]:
print(f"Loaded {df_products_raw.shape[0]} product rows into dataframe.\n")

display(df_products_raw.head())

Loaded 2517 product rows into dataframe.

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio

## Examine destination tables

The product data will be normalized and loaded into multiple Postgres tables:
* `products`
* `product_category`
* `product_subcategory`

Examine the schema of the destination tables and compare to the initial schema and contents of the raw product data.

In [4]:
tutorial.db.get_table_schema(table_name="products")

                   column         data_type  nullable  primary_key
0              product_id            bigint     False         True
1                    name              text      True        False
2                   brand              text      True        False
3                   color              text      True        False
4           unit_cost_usd  double precision      True        False
5          unit_price_usd  double precision      True        False
6     product_category_id            bigint      True        False
7  product_subcategory_id            bigint      True        False

In [5]:
tutorial.db.get_table_schema(table_name="product_category")

                column data_type  nullable  primary_key
0  product_category_id    bigint     False         True
1                 name      text      True        False

In [6]:
tutorial.db.get_table_schema(table_name="product_subcategory")

                   column data_type  nullable  primary_key
0  product_subcategory_id    bigint     False         True
1                    name      text      True        False

## Clean product data

To clean the product data and separate it into three DataFrames to normalize the data, you will use a pre-prepared function, `clean_product_data`. The cleaning code is displayed below, and then invoked to clean the raw product data.

In [7]:
%pycat inspect.getsource(tutorial.cookbook2.clean_product_data)

def clean_product_data(
    df_original: pd.DataFrame,
) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    """Clean sample product data for Cookbook 2.

    Returns:
        Tuple of pandas dataframes: product data, product categories, product subcategories
    """

    # Generate a separate copy of original data to transform.
    df_products = df_original.copy()

    # Rename original columns.
    RENAME_COLUMNS = {
        "ProductKey": "product_id",
        "Product Name": "name",
        "Brand": "brand",
        "Color": "color",
        "Unit Cost USD": "unit_cost_usd",
        "Unit Price USD": "unit_price_usd",
        "SubcategoryKey": "product_subcategory_id",
        "Subcategory": "product_subcategory_name",
        "CategoryKey": "product_category_id",
        "Category": "product_category_name",
    }

    df_products = df_products.rename(columns=RENAME_COLUMNS)

    # Clean cost and price figures.
    for currency_col in ["unit_cost_usd", "unit_price_usd"]:
        df_products[currency_col] = df_products[currency_col].apply(
            lambda x: float(x.replace("$", "").replace(",", "").strip())
        )

    # Generate product category and subcategory dataframes.
    df_product_categories = (
        df_products[["product_category_id", "product_category_name"]]
        .copy()
        .drop_duplicates()
        .reset_index(drop=True)
        .rename(columns={"product_category_name": "name"})
    )

    df_product_subcategories = (
        df_products[["product_subcategory_id", "product_subcategory_name"]]
        .copy()
        .drop_duplicates()
        .reset_index(drop=True)
        .rename(columns={"product_subcategory_name": "name"})
    )

    # Format final product dataframe.
    PRODUCT_RETAIN_COLUMNS = [
        "product_id",
        "name",
        "brand",
        "color",
        "unit_cost_usd",
        "unit_price_usd",
        "product_category_id",
        "product_subcategory_id",
    ]

    df_products = df_products[PRODUCT_RETAIN_COLUMNS]

    return df_products, df_product_categories, df_product_subcategories

In [8]:
df_products, df_product_categories, df_product_subcategories = (
    tutorial.cookbook2.clean_product_data(df_products_raw)
)

In [9]:
print(f"Loaded {df_products.shape[0]} cleaned product rows.\n")

df_products.head()

Loaded 2517 cleaned product rows.

,product_id,name,brand,color,unit_cost_usd,unit_price_usd,product_category_id,product_subcategory_id
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,1,101
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,1,101
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,1,101
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,1,101
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,1,101

In [10]:
print(f"Loaded {df_product_categories.shape[0]} cleaned product category rows.\n")

df_product_categories.head()

Loaded 8 cleaned product category rows.

   product_category_id                    name
0                    1                   Audio
1                    2            TV and Video
2                    3               Computers
3                    4  Cameras and camcorders
4                    5             Cell phones

In [11]:
print(f"Loaded {df_product_subcategories.shape[0]} cleaned product subcategory rows.\n")

df_product_subcategories.head()

Loaded 32 cleaned product subcategory rows.

   product_subcategory_id                  name
0                     101               MP4&MP3
1                     104         Recording Pen
2                     106  Bluetooth Headphones
3                     201           Televisions
4                     202             VCD & DVD

## GX data validation workflow

You will validate the cleaned product data using GX prior to loading it into a Postgres database table.

The GX data validation workflow was introduced in [Cookbook 1](Cookbook_1_Validate_data_during_ingestion_happy_path.ipynb), which provided a walkthrough of the following GX components:
* Data Context
* Data Source
* Data Asset
* Batch Definition
* Batch
* Expectation
* Expectation Suite
* Validation Result

This cookbook will extend the GX validation workflow to include the Validation Definition and Checkpoint components, and will further explore the validation metadata returned in the Validation Result.

This tutorial contains concise explanations of GX components and workflows. For more detail, visit the [Introduction to GX Core](https://docs.greatexpectations.io/docs/core/introduction/) in the GX docs.

### Set up the GX validation workflow

Create a data validation workflow, up to Expectation Suite definition, that expects the following of your product data.
* Expect that the product dataset contains the following columns, in the specified order
* Expect that all product unit prices are at least $1 USD
* Expect that all products have a higher unit price than unit cost

```{admonition} Reminder: Adding GX components to the Data Context
GX components are unique on name. Once a component is created with the Data Context, adding another component with the same name will cause an error. To enable repeated execution of cookbook cells that add GX workflow components, you will see the following pattern:

    try:
        Add a new component(s) to the context
    except:
        Get component(s) from the context by name, or delete and recreate the component(s)
```

In [12]:
# Create the Data Context.
context = gx.get_context()

# Create the Data Source, Data Asset, and Batch Definition.
try:
    data_source = context.data_sources.add_pandas("pandas")
    data_asset = data_source.add_dataframe_asset(name="customer data")
    batch_definition = data_asset.add_batch_definition_whole_dataframe(
        "batch definition"
    )

except:
    data_source = context.data_sources.get("pandas")
    data_asset = data_source.get_asset(name="customer data")
    batch_definition = data_asset.get_batch_definition("batch definition")

# Get the Batch from the Batch Definition.
batch = batch_definition.get_batch(batch_parameters={"dataframe": df_products})

# Create the Expectation Suite.
try:
    expectation_suite = context.suites.add(
        gx.ExpectationSuite(name="product expectations")
    )
except:
    expectation_suite = context.suites.delete(name="product expectations")
    expectation_suite = context.suites.add(
        gx.ExpectationSuite(name="product expectations")
    )

expectations = [
    gxe.ExpectTableColumnsToMatchOrderedList(
        column_list=[
            "product_id",
            "name",
            "brand",
            "color",
            "unit_cost_usd",
            "unit_price_usd",
            "product_category_id",
            "product_subcategory_id",
        ]
    ),
    gxe.ExpectColumnValuesToBeBetween(column="unit_price_usd", min_value=1.0),
    gxe.ExpectColumnPairValuesAToBeGreaterThanB(
        column_A="unit_price_usd", column_B="unit_cost_usd"
    ),
]

for expectation in expectations:
    expectation_suite.add_expectation(expectation)

[2024-12-10T22:13:20.025+0000] {base.py:1507} INFO - Created temporary directory '/tmp/tmpn7_0fqll' for ephemeral docs site

### Extend the validation workflow to include Validation Definition and Checkpoint

A **Validation Definition** pairs a Batch Definition with an Expectation Suite. It defines what data you want to validate using which Expectations.

In [13]:
# Create the Validation Definition.
try:
    validation_definition = context.validation_definitions.add(
        gx.ValidationDefinition(
            name="product validation definition",
            data=batch_definition,
            suite=expectation_suite,
        )
    )
except:
    context.validation_definitions.delete(name="product validation definition")
    validation_definition = context.validation_definitions.add(
        gx.ValidationDefinition(
            name="product validation definition",
            data=batch_definition,
            suite=expectation_suite,
        )
    )

A **Checkpoint** executes data validation based on the specifications of the Validation Definition. 

Checkpoints return Checkpoint Result objects, which contain Validation Result objects for individual runs. Checkpoints also enable you to specify the level of detail that is returned in your Validation Results. This is done using the `result_format` parameter. 

For a comprehensive description on levels of detail offered by result format settings, visit [Choose result format](https://docs.greatexpectations.io/docs/core/trigger_actions_based_on_results/choose_a_result_format/) in the GX docs.

In the code below:
* The result format is set to `COMPLETE`, which returns all possible validation metadata in the Validation Result.
* `unexpected_index_column_names` is set to the product_id column, meaning that any unexpected (failing) rows will be identified by the `product_id` column in the Validation Result.

In [14]:
# Create Checkpoint.
try:
    checkpoint = context.checkpoints.add(
        gx.Checkpoint(
            name="checkpoint",
            validation_definitions=[validation_definition],
            result_format={
                "result_format": "COMPLETE",
                "unexpected_index_column_names": ["product_id"],
            },
        )
    )
except:
    context.checkpoints.delete(name="checkpoint")
    checkpoint = context.checkpoints.add(
        gx.Checkpoint(
            name="checkpoint",
            validation_definitions=[validation_definition],
            result_format={
                "result_format": "COMPLETE",
                "unexpected_index_column_names": ["product_id"],
            },
        )
    )

Next, run the Checkpoint. When validating DataFrame Data Assets, the DataFrame must be supplied to the Checkpoint at runtime.

In [15]:
checkpoint_result = checkpoint.run(batch_parameters={"dataframe": df_products})

Calculating Metrics: 100%|██████████| 16/16 [00:00<00:00, 779.02it/s]

The Checkpoint run returns a `CheckpointResult` object.

In [16]:
type(checkpoint_result)

great_expectations.checkpoint.checkpoint.CheckpointResult

## Examine Validation Result

The Validation Result object can be extracted from the Checkpoint Result object.

In [17]:
# Extract the Validation Result object from the Checkpoint results.
validation_result = checkpoint_result.run_results[
    list(checkpoint_result.run_results.keys())[0]
]

### Get summary information

The Validation Result `success` field indicates whether or not all Expectations passed.

In [18]:
validation_result["success"]

False

Another useful Validation Results summary field is `statistics`, which provides an overview of how many Expectations passed and how many failed.

In [19]:
validation_result["statistics"]

{'evaluated_expectations': 3,
 'successful_expectations': 1,
 'unsuccessful_expectations': 2,
 'success_percent': 33.33333333333333}

In [20]:
expectations_run = validation_result["statistics"]["evaluated_expectations"]
expectations_failed = validation_result["statistics"]["unsuccessful_expectations"]

print(
    f"{expectations_run} Expectations were run, {expectations_failed} Expectations failed."
)

3 Expectations were run, 2 Expectations failed.

### Retrieve results for individual Expectations

The `results` field contains individual results for each Expectation. You can use the information contained in `results` (the level of detail of results is specified by the Checkpoint `result_format` parameter) to identify why Expectations failed, and what rows failed validation.

In [21]:
failed_expectations = []
for result in validation_result["results"]:
    if result["success"] is False:
        failed_expectations.append(result)

If you examine the results of one of the failed Expectation, you can see that the Validation Result provides a `unexpected_index_list` field containing a list of the values that failed validation. Each element of the list represents a row in the original dataset, and the fields present are those directly used in the Expectation (for example, `unit_price_usd` and `unit_cost_usd` for the failed `ExpectColumnPairValuesAToBeGreaterThanB` Expectation), and any other fields specified using the `result_format` `unexpected_index_column_names` field.

Based on the definition of the Checkpoint above, the records in the `unexpected_index_list` will also contain the `product_id` field, so that they can be used to identify the original rows in the Data Asset.

In [22]:
failed_expectations[0]

{
  "success": false,
  "expectation_config": {
    "type": "expect_column_pair_values_a_to_be_greater_than_b",
    "kwargs": {
      "batch_id": "pandas-customer data",
      "column_A": "unit_price_usd",
      "column_B": "unit_cost_usd"
    },
    "meta": {},
    "id": "6217b2db-7399-4658-bfcd-a20bc877c068"
  },
  "result": {
    "element_count": 2517,
    "unexpected_count": 4,
    "unexpected_percent": 0.15891934843067143,
    "partial_unexpected_list": [
      [
        35.72,
        77.68
      ],
      [
        91.95,
        199.95
      ],
      [
        0.48,
        0.95
      ],
      [
        165.0,
        175.88
      ]
    ],
    "unexpected_index_column_names": [
      "product_id"
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.15891934843067143,
    "unexpected_percent_nonmissing": 0.15891934843067143,
    "partial_unexpected_counts": [
      {
        "value": [
          0.48,
          0.95
        ],
        "count": 1
      },
      {
        "value": [
          35.72,
          77.68
        ],
        "count": 1
      },
      {
        "value": [
          91.95,
          199.95
        ],
        "count": 1
      },
      {
        "value": [
          165.0,
          175.88
        ],
        "count": 1
      }
    ],
    "partial_unexpected_index_list": [
      {
        "unit_price_usd": 35.72,
        "product_id": 14,
        "unit_cost_usd": 77.68
      },
      {
        "unit_price_usd": 91.95,
        "product_id": 50,
        "unit_cost_usd": 199.95
      },
      {
        "unit_price_usd": 0.48,
        "product_id": 922,
        "unit_cost_usd": 0.95
      },
      {
        "unit_price_usd": 165.0,
        "product_id": 975,
        "unit_cost_usd": 175.88
      }
    ],
    "unexpected_list": [
      [
        35.72,
        77.68
      ],
      [
        91.95,
        199.95
      ],
      [
        0.48,
        0.95
      ],
      [
        165.0,
        175.88
      ]
    ],
    "unexpected_index_list": [
      {
        "unit_price_usd": 35.72,
        "product_id": 14,
        "unit_cost_usd": 77.68
      },
      {
        "unit_price_usd": 91.95,
        "product_id": 50,
        "unit_cost_usd": 199.95
      },
      {
        "unit_price_usd": 0.48,
        "product_id": 922,
        "unit_cost_usd": 0.95
      },
      {
        "unit_price_usd": 165.0,
        "product_id": 975,
        "unit_cost_usd": 175.88
      }
    ],
    "unexpected_index_query": "df.filter(items=[13, 49, 921, 974], axis=0)"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [23]:
failed_expectations[1]

{
  "success": false,
  "expectation_config": {
    "type": "expect_column_values_to_be_between",
    "kwargs": {
      "batch_id": "pandas-customer data",
      "column": "unit_price_usd",
      "min_value": 1.0
    },
    "meta": {},
    "id": "2c33ab89-b821-4211-9079-f9dcb30a74c0"
  },
  "result": {
    "element_count": 2517,
    "unexpected_count": 4,
    "unexpected_percent": 0.15891934843067143,
    "partial_unexpected_list": [
      0.95,
      0.95,
      0.95,
      0.48
    ],
    "unexpected_index_column_names": [
      "product_id"
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.15891934843067143,
    "unexpected_percent_nonmissing": 0.15891934843067143,
    "partial_unexpected_counts": [
      {
        "value": 0.95,
        "count": 3
      },
      {
        "value": 0.48,
        "count": 1
      }
    ],
    "partial_unexpected_index_list": [
      {
        "unit_price_usd": 0.95,
        "product_id": 919
      },
      {
        "unit_price_usd": 0.95,
        "product_id": 920
      },
      {
        "unit_price_usd": 0.95,
        "product_id": 921
      },
      {
        "unit_price_usd": 0.48,
        "product_id": 922
      }
    ],
    "unexpected_list": [
      0.95,
      0.95,
      0.95,
      0.48
    ],
    "unexpected_index_list": [
      {
        "unit_price_usd": 0.95,
        "product_id": 919
      },
      {
        "unit_price_usd": 0.95,
        "product_id": 920
      },
      {
        "unit_price_usd": 0.95,
        "product_id": 921
      },
      {
        "unit_price_usd": 0.48,
        "product_id": 922
      }
    ],
    "unexpected_index_query": "df.filter(items=[918, 919, 920, 921], axis=0)"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

### Use the Validation Result to separate valid and invalid rows

You can use the metadata provided in the Validation Results `unexpected_index_list` to identify the original rows in the Data Asset, enabling separation of valid and invalid rows.

As an example, extract the `product_ids` of the product rows that failed the first Expectation and use those ids to create two separate dataframes, one containing valid product rows and one containing the rows that failed the Expectation.

In [24]:
# Show the metadata contained in the Validation Resultsunexpected_index_list field
# for the failing Expectation.
failed_expectations[0]["result"]["unexpected_index_list"]

[{'unit_price_usd': 35.72, 'product_id': 14, 'unit_cost_usd': 77.68},
 {'unit_price_usd': 91.95, 'product_id': 50, 'unit_cost_usd': 199.95},
 {'unit_price_usd': 0.48, 'product_id': 922, 'unit_cost_usd': 0.95},
 {'unit_price_usd': 165.0, 'product_id': 975, 'unit_cost_usd': 175.88}]

In [25]:
# Extract the product ids.
product_ids_for_invalid_rows = [
    x["product_id"] for x in failed_expectations[0]["result"]["unexpected_index_list"]
]

product_ids_for_invalid_rows

[14, 50, 922, 975]

In [26]:
# Pull out bad rows from original product dataset.
df_invalid_rows = df_products[
    df_products["product_id"].isin(product_ids_for_invalid_rows)
].reset_index(drop=True)

display(df_invalid_rows)

,product_id,name,brand,color,unit_cost_usd,unit_price_usd,product_category_id,product_subcategory_id
0,14,Contoso 4GB Flash MP3 Player E401 Silver,Contoso,Silver,77.68,35.72,1,101
1,50,WWI 2GB Pulse Smart pen M100 Black,Wide World Importers,Black,199.95,91.95,1,104
2,922,SV USB Data Cable E600 Grey,Southridge Video,Grey,0.95,0.48,3,308
3,975,A. Datum Ultra Compact Digital Camera M190 Pink,A. Datum,Pink,175.88,165.00,4,401

In [27]:
# Drop the invalid rows from the product data.
df_products_validated = df_products.drop(
    df_products[df_products["product_id"].isin(product_ids_for_invalid_rows)].index
).reset_index(drop=True)

# Verify that product data contains the correct number of rows.
assert df_products_validated.shape[0] == (
    df_products.shape[0] - len(product_ids_for_invalid_rows)
)

display(df_products_validated.head())

,product_id,name,brand,color,unit_cost_usd,unit_price_usd,product_category_id,product_subcategory_id
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,1,101
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,1,101
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,1,101
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,1,101
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,1,101

## Integrate GX validation and programmatic handling of invalid rows in the Airflow DAG

You will use the `success` and `unexpected_index_list` metadata of the GX Validation Result object to control the actions of the `cookbook2_validate_and_handle_invalid_data` Airflow pipeline.

### Inspect DAG code

Examine the DAG code below that defines the `cookbook2_validate_and_handle_invalid_data` pipeline.

The DAG code cleans the incoming product data and then validates the data. Rows that pass validation are written to Postgres, but rows that fail validation trigger an action in the pipeline:
* Failing product category and subcategory rows cause the pipeline to raise an error and halt.
* Failing product rows are automatically separated from the valid rows and written to an error file (`cookbook2_invalid_product_rows.csv`).

In [28]:
%pycat inspect.getsource(dag)

import datetime
import logging
import os
import pathlib

import pandas as pd
import tutorial_code as tutorial
from airflow import DAG
from airflow.operators.python import PythonOperator

log = logging.getLogger("GX validation")


def get_airflow_home_dir() -> pathlib.Path:
    return pathlib.Path(os.getenv("AIRFLOW_HOME"))


def cookbook2_validate_and_handle_invalid_data():

    RAW_DATA_DIR = get_airflow_home_dir() / "data/raw"
    OUTPUT_DATA_DIR = get_airflow_home_dir() / "airflow_pipeline_output"

    # Load and clean raw product data.
    df_products_raw = pd.read_csv(
        RAW_DATA_DIR / "products.csv", encoding="unicode_escape"
    )

    df_products, df_product_categories, df_product_subcategories = (
        tutorial.cookbook2.clean_product_data(df_products_raw)
    )

    # Validate product data using GX.
    (
        products_validation_result,
        product_category_validation_result,
        product_subcategory_validation_result,
    ) = tutorial.cookbook2.validate_product_data(
        df_products, df_product_categories, df_product_subcategories
    )

    # Halt pipeline with error if validation fails for product category or subcategory results.
    if not product_category_validation_result["success"]:
        raise Exception("GX data validation for product categories failed.")

    if not product_subcategory_validation_result["success"]:
        raise Exception("GX data validation for product subcategories failed.")

    # Write product category and subcategory data to Postgres tables.
    product_category_rows_inserted = tutorial.db.insert_ignore_dataframe_to_postgres(
        table_name="product_category", dataframe=df_product_categories
    )

    log.info(f"{product_category_rows_inserted} new product category rows inserted.")

    product_subcategory_rows_inserted = tutorial.db.insert_ignore_dataframe_to_postgres(
        table_name="product_subcategory", dataframe=df_product_subcategories
    )

    log.info(
        f"{product_subcategory_rows_inserted} new product subcategory rows inserted."
    )

    # If validation fails for product rows, automatically remove failing rows and write
    # to error file. Write all remaining valid rows to Postgres.
    if not products_validation_result["success"]:
        df_products_valid, df_products_invalid = (
            tutorial.cookbook2.separate_valid_and_invalid_product_rows(
                df_products, products_validation_result
            )
        )
        tutorial.cookbook2.write_invalid_rows_to_file(
            OUTPUT_DATA_DIR / "cookbook2_invalid_product_rows.csv", df_products_invalid
        )

    else:
        df_products_valid = df_products

    product_rows_inserted = tutorial.db.insert_ignore_dataframe_to_postgres(
        table_name="products", dataframe=df_products_valid
    )

    log.info(f"{product_rows_inserted} new product rows inserted.")


default_args = {
    "owner": "airflow",
    "depends_on_past": False,
    "start_date": datetime.datetime.today(),
}

gx_dag = DAG(
    "cookbook2_validate_and_handle_invalid_data",
    default_args=default_args,
    schedule="0 0 * * *",
    catchup=False,
)

run_gx_task = PythonOperator(
    task_id="cookbook2_validate_and_handle_invalid_data",
    python_callable=cookbook2_validate_and_handle_invalid_data,
    dag=gx_dag,
)

run_gx_task

## View the Airflow pipeline

To view the `cookbook2_validate_and_handle_invalid_data` pipeline in the Airflow UI, log into the locally running Airflow instance.

1. Open [http://localhost:8080/](http://localhost:8080/) in a browser window.
2. Log in with these credentials:
  * Username: `admin`
  * Password: `gx`

You will see the pipeline under **DAGs** on login.

![Log in to tutorial Airflow UI](static/images/cookbook1_log_in_to_airflow_ui.gif)

You can trigger the DAG from this notebook, using the provided convenience function in the cell below, or you can trigger the DAG manually in the Airflow UI.

In [29]:
tutorial.airflow.trigger_airflow_dag_and_wait_for_run(
    "cookbook2_validate_and_handle_invalid_data"
)

To trigger the `cookbook2_validate_and_handle_invalid_data` DAG from the Airflow UI, click the **Trigger DAG** button (with a play icon) under Actions. This will queue the DAG and it will execute shortly. The successful run is indicated by the run count inside the green circle under Runs.

![Trigger the Airflow DAG](static/images/cookbook1_trigger_dag.gif)

The `cookbook2_validate_and_handle_invalid_data` DAG can be rerun multiple times; you can experiment with running it from this notebook or from the Airflow UI. The pipeline insert ignores into the Postgres `products`, `product_category`, and `product_subcategory` tables, meaning that it will not attempt to insert a row with the same primary key as an existing row.

## View pipeline results

Once the pipeline has been run, the `products` table is populated with the cleaned product data, a total of 15,266 rows. You can view the updated table counts and a sampling of rows below.

* `products` is populated with 2510 rows
* `product_category` is populated with 8 rows 
* `product_subcategory` is populated with 32 rows

In [30]:
tutorial.db.get_table_row_count(table_name="products")

2510

In [31]:
pd.read_sql_query(
    "select * from products limit 5", con=tutorial.db.get_local_postgres_engine()
)

,product_id,name,brand,color,unit_cost_usd,unit_price_usd,product_category_id,product_subcategory_id
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,1,101
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,1,101
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,1,101
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,1,101
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,1,101

In [32]:
tutorial.db.get_table_row_count(table_name="product_category")

8

In [33]:
pd.read_sql_query(
    "select * from product_category limit 5",
    con=tutorial.db.get_local_postgres_engine(),
)

   product_category_id                    name
0                    1                   Audio
1                    2            TV and Video
2                    3               Computers
3                    4  Cameras and camcorders
4                    5             Cell phones

In [34]:
tutorial.db.get_table_row_count(table_name="product_subcategory")

32

In [35]:
pd.read_sql_query(
    "select * from product_subcategory limit 5",
    con=tutorial.db.get_local_postgres_engine(),
)

   product_subcategory_id                  name
0                     101               MP4&MP3
1                     104         Recording Pen
2                     106  Bluetooth Headphones
3                     201           Televisions
4                     202             VCD & DVD

Additionally, you can see that the invalid rows were written to the error file.

In [36]:
!cat airflow_pipeline_output/cookbook2_invalid_product_rows.csv

product_id,name,brand,color,unit_cost_usd,unit_price_usd,product_category_id,product_subcategory_id
14,Contoso 4GB Flash MP3 Player E401 Silver,Contoso,Silver,77.68,35.72,1,101
50,WWI 2GB Pulse Smart pen M100 Black,Wide World Importers,Black,199.95,91.95,1,104
919,SV USB Data Cable E600 Pink,Southridge Video,Pink,0.48,0.95,3,308
920,SV USB Data Cable E600 Black,Southridge Video,Black,0.48,0.95,3,308
921,SV USB Data Cable E600 Silver,Southridge Video,Silver,0.48,0.95,3,308
922,SV USB Data Cable E600 Grey,Southridge Video,Grey,0.95,0.48,3,308
975,A. Datum Ultra Compact Digital Camera M190 Pink,A. Datum,Pink,175.88,165.0,4,401

It can also be helpful to view the pipeline logs to investigate the details of a successful (or unsuccessful run). To examine these logs in the Airflow UI:
1. On the DAGs screen, click on the run(s) of interest under Runs.
2. Click the name of the individual run you want to examine. This will load the DAG execution details.
3. Click the Graph tab, and then the `cookbook2_validate_and_handle_invalid_data` task box on the visual rendering.
4. Click the Logs tab to load the DAG logs.

You can see in the screen capture below that the logs reflect the row insertion print statement that was included in the DAG code.

![Check logs for successful pipeline run](static/images/cookbook1_check_pipeline_logs.gif)

## Summary

This cookbook has walked you through the process of validating data using GX, integrating the data validation workflow in an Airflow pipeline, and then programmatically handling invalid data in the pipeline when validation fails.

[Cookbook 1](Cookbook_1_Validate_data_during_ingestion_happy_path.ipynb) and Cookbook 2 (this notebook) have focused on usage of [GX Core](https://docs.greatexpectations.io/docs/core/introduction/) to implement data validation in a data pipeline. Subsequent cookbooks will explore integrating [GX Cloud](https://docs.greatexpectations.io/docs/cloud/overview/gx_cloud_overview), GX Core, and an Airflow data pipeline to achieve end-to-end data validation workflows that make validation results available and shareable in the GX Cloud web UI.